<%= form_for @state do |f| %>
    <% if @state.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>

          <ul>
            <% @state.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row-fluid">
      <%= f.label :doctor_count, "Doctor count", class: "span2" %>
      <%= f.text_field :doctor_count, class: "span2" %>
    </div>

    <div class="row-fluid">
      <%= f.label :nurse_count, "Nurse Count", class: "span2" %>
      <%= f.text_field :nurse_count, class: "span2" %>
    </div>

    <div class="row-fluid">
      <%= f.label :vaccinations_count, "Vaccination Count", class: "span2" %>
      <%= f.text_field :vaccinations_count, class: "span2" %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "btn" %>
    </div>
<% end %>
